extends layout

block content
  h1.text-center 퍼스트클래스 빅데이터 영어학습 애플리케이션  
  p 수능 자료
  p 어휘 자료
  p EBS 자료
  p 부교재
  p 각 학년 및 연도별 모의고사 자료
  p 배재고 내신 자료
  p 한영고 내신 자료
  p 강일고 내신 자료
  p 광문고 내신 자료
  p 강동고 내신 자료
  p 명일여고 내신 자료
  p 상일여고 내신 자료
  p ....
  
